.App {
  text-align: center;
  margin: 200px auto;
}
.body {
  background: linear-gradient(321deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 91% 0%
  }

  50% {
    background-position: 10% 100%
  }

  100% {
    background-position: 91% 0%
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 91% 0%
  }

  50% {
    background-position: 10% 100%
  }

  100% {
    background-position: 91% 0%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 91% 0%
  }

  50% {
    background-position: 10% 100%
  }

  100% {
    background-position: 91% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 91% 0%
  }

  50% {
    background-position: 10% 100%
  }

  100% {
    background-position: 91% 0%
  }
}

.animatext {
  animation: animations 2s ease 0s 1 alternate forwards;
}

@keyframes animations {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}